<div class="jumbotron container">
  <!--<form [formGroup]="sample">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" formControlName="name">
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" formControlName="place">
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" formControlName="email">
    </div>


  </form>-->
  <button type="button" class="btn btn-dark" (click)="add()">Add</button>
  <form [formGroup]="sample">
    <div formArrayName="add">
      <div *ngFor="let sample2 of sample1().controls; let i = index">
        <div [formGroupName]="i">
          {{i}}
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" formControlName="name" />
          </div>
  
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" formControlName="place" />
          </div>
  
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email" />
          </div>
  
          <div class="btn-group">
  
            <button type="button" class="btn btn-dark" (click)="delete(i)">Delete</button>
  
          </div>
        </div>
        

      </div>

      <br>
      <br>
      <button (click)="display()" type="button" class="btn btn-success">Submit</button>

    </div>
  </form>
 

</div>